.childParent{
    display: flex;
    justify-content: space-between;
}
.childParent div button{
    padding: 10px;
    color: red;
    background: white;
    width: 100%;
    border: 1px solid black;
}
.submitStructure{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}